<h3>Cria Conta: </h3>

<form action="/registro" method="POST">

    <div class="mb-3">
        <label for="name" class="form-label">Nome: </label>
        <input type="text" name="nome" class="form-control">
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">E-mail: </label>
        <input type="email" name="email" class="form-control">
    </div>

    <div class="mb-3">
        <label for="senha" class="form-label">Senha: </label>
        <input type="password" name="senha" class="form-control">
    </div>

    <div class="mb-3">
        <label for="senha2" class="form-label">Repita sua senha: </label>
        <input type="password" name="senha2" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Criar Conta</button>
</form>