<h2>Entrar na sua conta: </h2>
<form action="" method="POST">

    <div class="mb-3">
        <label for="email" class="form-label">Digite seu E-mail: </label>
        <input type="email" class="form-control" name="email">
    </div>

    <div class="mb-3">
        <label for="senha" class="form-label">Digite sua senha: </label>
        <input type="password" name="senha" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Entrar</button>
</form>