<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="/">AGENDA</a>

        <div class="d-flex justify-content-around" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link text-light" href="/contato/index">Cadastrar contato</a>
                </li>


                <% if(user) { %>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/login/logout">Sair</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/login/index">Entrar</a>
                    </li>
                <% } %>

                
            </ul>
        </div>
    </div>
</nav>