@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;

    margin: auto;

    max-width: 1250px;
}

.container-p {
    width: 33%;

    margin-bottom: 70px;
}

.produto-img {
    width: 100%;
    height: 350px;

    background-image: url(imagens/produtos-vendidos-com-medidas-quebradas-bala-cerveja-batata-frita-1519423107553_615x300.jpg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}