<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo</title>
</head>

<body>
    <div class="container">

        <main>
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quaerat possimus aliquid assumenda,
                optio impedit temporibus, ad illo dolorem tempora unde autem non dicta eius alias accusantium.
                Voluptate, quo itaque?</h1>
        </main>

    </div>

    <script src="assets/js/bundle.js"></script>
</body>

</html>