@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

.produtos {
    display: flex;
    justify-content: space-between;

    margin: auto;

    max-width: 1250px;
}

.produto-single {
    width: 33%;

    margin-bottom: 70px;
}

.carrinho {
    font-weight: bolder;

    font-size: 2rem;
}